<header class="navbar">
  <div class="container">
    <h1 class="brand">
      <img style="height: 45px" [src]="'/img/bg-img/logo.png'" />
    </h1>
    <nav class="navbar-nav">
      <ul>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/recipes" routerLinkActive="active"
            >Recipes</a
          >
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-recipe" routerLinkActive="active"
            >Add Recipe</a
          >
        </li>
      </ul>
    </nav>
    <div class="auth-links">
      <div class="user-dropdown" *ngIf="isLoggedIn">
        <span class="user-name">{{ userName }}</span>
        <div class="dropdown-menu">
          <a class="dropdown-item">{{ userName }}</a>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      <div class="user-dropdown" *ngIf="!isLoggedIn">
        <div class="user-name">
          <a routerLink="/login" class="nav-link">Log in</a>
        </div>
      </div>
    </div>
  </div>
</header>
