/* Slider */
.slider-img {
  height: 400px;
  object-fit: cover;
}

.carousel-caption h5 {
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.carousel-caption p {
  font-size: 1.2rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
