<div class="container mt-5 home-page">
  <!-- Slider Section -->
  <div id="recipeCarousel" class="carousel slide mb-5" data-bs-ride="carousel">
    <div class="carousel-inner" *ngIf="silder?.length">
      <div class="carousel-item active" *ngFor="let slide of silder">
        <img
          [src]="slide.photo"
          class="d-block w-100 slider-img"
          alt="First slide"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Welcome to the Recipe World</h5>
          <p>{{ slide.description }}</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#recipeCarousel"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#recipeCarousel"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!-- Cards Section -->
  <h1 class="text-center mb-5">The Best Recipes</h1>
  <div class="row recipe-grid" *ngIf="recipes?.length">
    <app-single-recipe-card
      class="col-md-3 col-sm-6 mb-4"
      *ngFor="let recipe of recipes"
      [recipe]="recipe"
      (viewClick)="viewRecipe($event)"
    ></app-single-recipe-card>
  </div>
</div>
