<div class="toaster-container">
  <div
    *ngFor="let message of toasterService.getMessages()"
    class="toaster-message"
    [ngClass]="{
      'toaster-success': message.type === 'success',
      'toaster-warning': message.type === 'warning',
      'toaster-error': message.type === 'error',
      'toaster-info': message.type === 'info'
    }"
  >
    <span class="toaster-text">{{ message.text }}</span>
    <button
      class="toaster-close"
      (click)="toasterService.removeMessage(message)"
    >
      ✖
    </button>
  </div>
</div>
